{% extends 'app/base-app.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row gy-5">
        {% for filename in object_list %}
        <div class="col-md-2 col-sm-6">
            <div class="card" style="width: 10rem;">
                <img src="{% static 'i/python_file.png' %}" class="card-img-top" style="height: 5rem; width: 5rem;" alt="...">
                <div class="card-body text-align:center">
                    <h5 class="card-title">{{ filename }}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="{% url 'file-detail' filename.pk%}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}