{% extends 'app/base-app.html' %}
{% block content %}
{% load static %}


<div class="container">
<h1>Edit this file</h1>
    <form class="form-floating" method="POST" action="{% url 'file-edit' pk %}">
        {% csrf_token %}
            <textarea class="form-control" style="height: 500px; width: 500px" name="new" id="" cols="30" rows="10">
{{ file_content }}
            </textarea>
        <button class="btn btn-primary" type="submit">send</button>
    </form>
</div>


<pre>
    <code class="python">
        import os
        var = 'hellow world'
        print(var)
        def foo(a):
            return a + a
    </code>
</pre>

{% endblock %}